#navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 00;
}
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 138px 52px;
    height: 182px;
}
#home::before{
    overflow: hidden;
}
#services div {
    display: flex;
    flex-direction: column;
}
#boxes {
    margin: 15px 72px;
}
.secondary {
    text-align: center;
}
#services .bb{
    overflow: hidden;
}
#navbar li {
    overflow: hidden;
    padding: 0 5px;
}