*{
    margin: 0;
    padding: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 00;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
    width: 100%;
    height: 23%;
}
#navbar ul{
    display: flex;
}
#navbar img{
    width: 78px;
    margin: 15px 45px;
}
#navbar li{
    padding: 2px 10px;
    list-style: none;
    
}
#navbar li a{
    padding: 2px 10px;
    text-decoration: none;
    font-size: 1.5rem;
    color:  #f2f392;
}
#navbar li a:hover{
    color: rgb(117, 224, 30);
    background-color: BLACK;
}
#home{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    margin: 53px 33px;
    height: 250px;
}
#home::before{
    background: url('../headd.jpg');
    content: "";
    position: absolute;
    height: 642px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}
#home div{
    padding: 5px 5px;
}
#home div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color:  #f2f392;
}
#home h1{
    font-size: 2.8rem;
}
#home button{
    font-size: 1.3rem;
    cursor: pointer;
     background-color:  #f2f392;
     border: 2px solid black;
     border-radius: 8px;
}
#home button:hover{
    background-color: black;
    color:green;
}
#services h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25PX 10PX;
    color: black;
    font-size: 2.8rem;
}
#boxes{
    margin: 5px 5px;
}
#services div{
    display: flex;
}
#services .bb{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(207, 204, 191);
    margin: 2px 10px;
    border: 2px solid brown;
    border-radius: 22px;
}
#services .bb img{
    height: 200px;
    width: 290px;
    padding: 22px 5px;
}
#services p{
    padding:5px 20px;
    align-content: center;
}
#contact h1{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 15px 10px;
    color: saddlebrown;
}
#contact #size{
    border: 2px solid red;
    background-color: rgba(174, 201, 252, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#contact .resize{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}
#contact input,
#contact textarea{
    padding-bottom: 10px;
}
.primary{
    font-size: 2.5rem;
    text-shadow: 1px 5px 12px red;
    color: white;
}
.secondary{
    font-size: 2rem;
    color: brown;
}